.sub-info_container {
    position: relative;
}

.sub-info_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #00C2FF;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 41px;
}

.sub-info_content {
    justify-content: center;
    align-items: center;
    color: #fff;
    top: 60px;
    display: flex;
    flex-direction: column;

}

.sub-info_content strong {
    font-size: large;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));


}

.my_sub_info {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
}

.my_sub_info .my_sub_info_text {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.sub-info_content p {
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
    margin: 10px;
}

.sub-info_background_extentions {
    width: 100%;
    position: relative;
}

.Group_84 {
    padding-top: 45px;
    position: absolute;
    z-index: 1;
    right: 236px;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 943px) {
    .Group_84 {
        bottom: -41px;
        right: 70px;
    }
}

@media screen and (max-width: 768px) {
    .Group_84 {
        bottom: -46px;
        right: 20px;
    }
}